<!-- Banner -->
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/2489692.jpg)">
</div>
<!-- Category Header -->
<div class="mt-5 border-bottom text-center">
	<h2>Featured Events</h2>
</div>

<!-- Featured Event Cards -->
<div class="row mt-4">
  <% @events.each do |event| %>
		<div class="col-4 card-event">
			<img src="https://middermusic.com/wp-content/uploads/2022/10/90s-rock-bands.jpg" />
			<%= link_to event_tickets_path(event), class: "card-event-infos" do %>
				<div>
					<h2><%= event.name %></h2>
					<p><%= event.date.strftime("%B %d, %Y") %></p>
					<p><%= event.location %></p>
				</div>
			<% end  %>
		</div>
	<% end %>

<!-- Go to all events -->
<div class="mt-5 mb-5 d-flex justify-content-center">
	<%= button_to "See All Events", events_path, method: :get, class: "btn btn-success btn-lg" %>
</div>
    
</div>