<h1>Shopping Cart</h1>

<% if @tickets.any? %>
  <table class="table" data-controller="modal">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.ticket_number %></td>
          <td><%= ticket.ticket_category.titleize %></td>
          <td>$<%= ticket.price %></td>
          <td>
            <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-action="click->modal#show"> Remove item </button>
            <%= render "shared/modal", ticket: ticket,
                                                path: cancel_path(ticket),
                                                message: "Remove your #{ticket.ticket_category.titleize} ticket for #{ticket.event.name}",
                                                footer: "(Remember that you can add it to your cart again from the Event.)"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "Purchase All", sold_path, method: :patch, class: "btn btn-success" %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>