<div class="container mt-4">
  <h1>My Listings</h1>

  <% if @tickets.any? %>
    <table class="table table-striped" data-controller="modal">
      <thead>
        <tr>
          <th>Ticket Number</th>
          <th>Event Name</th>
          <th>Date</th>
          <th>Category</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.ticket_number %></td>
            <td><%= ticket.event.name %></td>
            <td><%= ticket.event.date.strftime("%e %B %Y") %></td>
            <td><%= ticket.ticket_category.titleize %></td>
            <td>$<%= ticket.price %></td>
            <td class="d-flex">
              <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-action="click->modal#show"> Stop sale </button>
              <%= render "shared/modal", ticket: ticket,
                                                path: stop_path(ticket),
                                                message: "You are about to stop the sale of your #{ticket.ticket_category.titleize} ticket for #{ticket.event.name}",
                                                footer: "(Remember that you can resell this ticket from My tickets.)" %>
              <%# <%= button_to "Stop Sale", stop_path(ticket), method: :patch, data: { turbo_confirm: "Are you sure you want to stop the sale of this ticket?" }, class: "btn btn-warning btn-sm" %>
              <%= link_to "Edit", edit_ticket_path(ticket), class: "btn btn-primary btn-sm ms-3" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You currently have no tickets listed for sale or pending.</p>
  <% end %>
</div>